body {
  font-size: 1em;
  font-family: "Nanum Gothic", sans-serif;
  max-width: 100vw;
  overflow-x: hidden;
  //background-color: #f5bf38

  /* margin: 0; */
}
.swiper {
  width: 100%;
  height: auto;

  .swiper_wrap {
    padding: 0px 50px;
    height: 100%;
    width: 100%;
    position: relative;
    display: block;
    text-align: left;
  }

  /*.swiper-button-next {
    margin-top: 0px;
    position: absolute;
    top: 50%;
    right: -40px;
    width: 45px;
    height: 45px;
    transform: translateY(-50%);
  }


  .swiper-button-prev {
    position: absolute;
    top: 50%;
    left: -40px;
    width: 45px;
    height: 45px;
    transform: translateY(-50%);
    margin-top: 0px;
  }*/

}


/* carousel section */

.carouselSection {
  position: relative;

  .container {
    .swiper {}

  }
  @media only screen and (max-width: 600px) {
    .swiper-button-next, .swiper-button-prev {
      display: none;
    }
  }
}

* {}

.afterCarouselSection {
  padding: 3em 0;

  .mainText {
    .red-pen {
      display: inline-block;
      color: red; //#2d6c90;
      text-decoration: none;
      position: relative;
      padding: 14px 0;
      font-family: 'Muli', sans-serif;
      font-weight: 300;
      font-size: 22px;
      line-height: 1;
      letter-spacing: 0.040em;
      z-index: 1;

      svg {
        fill: none;
        stroke: red;
        stroke-width: 2;
        stroke-miterlimit: 10;
        stroke-dasharray: 338;
        stroke-dashoffset: 338;
        stroke-linecap: round;
        position: absolute;
        top: 50%;
        left: 50%;
        width: calc(100% + 60px);
        opacity: 0;
        transform: translate(-50%, -50%);
        transition: stroke-dashoffset 0s 0.2s, opacity 0.2s;
        z-index: -1;
      }

      &.active svg {
        stroke-dashoffset: 0;
        opacity: 1;
        transition: opacity 0s, stroke-dashoffset 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
      }

    }
  }
}


/* Hero Section */
.heroSection {
  padding: 1em 0;
  background-image: url("../img/assets/header.jpg");
  background-position: center;
  background-size: cover; //100% 100%;
  min-height: 100vh;
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center;
}

.heroSection .heroHeading {
  color: white;
  font-family: "Anton", sans-serif;
  font-weight: 500;
  font-size: 3em;
  margin-top: 0.5em;
}

.heroSection .heroHeading .smHeroHeading {
  font-size: 0.7em;
}

.heroSection .brandLogo {
  display: inline-block;
  text-decoration: none;
}

.heroSection .brandLogo img {
  height: 180px;
}

.heroSection .mainBtn {
  display: inline-block;
  font-size: 2.2em;
  color: #57523e;
  background-color: #f1ce46;
  padding: 0em 0.5em;
  text-decoration: none;
  font-weight: 600;
  margin-top: 0.6em;
}

/* Form Section */
.formSection {
  padding: 12em 0 1em 0;
  position: relative;
  margin-top: -30vh;
  /*margin-top: -290px;
    @media screen and (min-width:1925px) {
      margin-top: -170px;
    }*/
    @media screen and (max-width:960px) {
      margin-top: -45vh;
      .formSectionImg {
        object-fit: cover;
      }
      /*.subHeading {
        padding-top: 150px;
      }  */
    }
    
}

.subHeading {
  color: #3c3c3c;
  font-weight: 600;
  font-size: 2em;
}

.formPoints .formPoint {
  margin-bottom: 0.6em;
  color: #3c3c3c;
  position: relative;
}

.formPoints {
  margin: 3em 0;
  padding-left: 1em;
}

.formPoints .formPoint::after {
  content: "";
  background-color: #3c3c3c;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  position: absolute;
  left: -16px;
  top: 8px;
}

.mainText {
  color: #3c3c3c;
}

.formSection .contactForm {
  padding: 2em 2.5em 2.5em 2.5em;
  background-color: rgba(255, 255, 255, 0.7);
}

.formSection .contactForm .contactFormHeading {
  color: #3c3c3c;
  font-weight: 700;
  text-align: center;
  margin-bottom: 1em;
  font-size: 1.2em;
}

.formSection .contactForm .myContactForm .formInput {
  border: 1px solid #3c3c3c;
  padding: 0.3em 0.8em;
  margin-bottom: 1.8em;
  width: 100%;
  outline: none;
  background-color: transparent;
}

.formSection .contactForm .myContactForm {
  margin-top: 1.3em;
}

.formSection .contactForm .myContactForm .mainBtn {
  width: 100%;
  margin-top: 0.5em;
}

.mainBtn {
  color: #3c3c3c;
  display: inline-block;
  background-color: #f5bf38;
  padding: 0.4em 1.3em;
  border: none;
  transition: 200ms ease-in-out;
}

.mainBtn:hover {
  text-decoration: none;
  opacity: 0.7;
}

.formSection .formSectionImg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 117%;
}

.formSection .contactForm .mainText {
  font-weight: 600;
}

/* Details Section */
.detailsSection {
  padding: 4em 0;
  overflow: hidden;
}

.detailsSection .subHeading {
  font-size: 2.4em;
}

/* Get Section */
.getSection {
  padding: 5em 0;
  position: relative;
  margin-top: -5em;

  .bullets {
    display: flex;
    justify-content: space-around;
    padding-bottom: 100px;

    .bullet:nth-child(1) .icon svg .checkmark {
      animation-delay: 0ms;
    }

    .bullet:nth-child(2) .icon svg .checkmark {
      animation-delay: 1s;
    }

    .bullet:nth-child(3) .icon svg .checkmark {
      animation-delay: 2s;
    }

    .bullet {
      display: flex;
      //background-color: var(--clr-3-lighter);
      background-color: white;
      color: black;
      justify-content: center;
      margin: 2%;
      padding: 10px;
      border-radius: 25px;
      align-content: center;

      .icon {
        @keyframes dash {
          0% {
            stroke-dashoffset: 340;

          }

          20% {
            stroke-dashoffset: 0;
          }


          100% {
            stroke-dashoffset: 0;
          }
        }

        width: 65px;
        display: inline;
        margin: auto;
        padding-right: 10px;

        svg {
          .checkmark {
            position: absolute;
            stroke: rgba(0, 199, 27, 0.746);
            //fill: none;
            stroke-dashoffset: 0;
            stroke-dasharray: 360;
            //-webkit-animation: dash .5s ease-out forwards;
            animation: dash 5s ease-out infinite;
            opacity: 1;
          }
        }

      }

      .text {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  #cta_btn {
    background-color: #E9BF39;
    padding: 15px;
    font-weight: bold;
    font-size: x-large;
  }
}

.subHeading.red {
  color: #ff0000;
  font-weight: bold !important;
}

.getSection .getSectionHeader {
  text-align: center;
  margin-top: 7em;
}

.getSection .getSectionHeader .subHeading {
  font-size: 2.1em;
  font-weight: 500;
}

.whiteInput {
  background-color: white;
  border: none;
  padding: 1.2em 0.8em;
  width: 100%;
  outline: none;
}

.getSection .subHeading.white {
  margin-top: 4.5em;
  color: white;
}

.getSection .mainBtn {
  color: #3a3939;
  font-weight: bold;
  font-size: 2.5em;
  padding: 0em 1.3em;
  line-height: 1.3;
  margin-top: 0.5em;
}

.getSection .getSectionCard .getCardHeading {
  background-color: #e8be39;
  color: #3a3939;
  font-size: 1.6em;
  padding: 0.4em;
  text-align: center;
  line-height: 1;
  font-weight: 600;
}

.getSection .getSectionCard .formPoints {
  margin: 0.8em 0;
  padding-left: 2em;
  padding-bottom: 0.7em;
}

.getSection .getSectionCard {
  background-color: white;
  margin-bottom: 2em;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  min-height: 250px;
}

.getSection .getSectionCard .formPoints {
  margin-bottom: 0.5em;
}

.getSection .getSectionCard .formPoints .formPoint::after {
  background-color: #e8be39;
  height: 9px;
  width: 9px;
  left: -23px;
  top: 7px;
}

.getSection .getSectionImage {
  position: absolute;
  top: 30px;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 102%;
}

/* Clients Section */
.clientsSection {
  padding: 2em 0;
  margin-top: -5.3em;
}

.clientsSection .yellowCard {
  background-image: url("../img/card-bg.png");
  background-size: cover;
  min-height: 65vh;
  position: relative;
}

.clientsSection .yellowCard {
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: space-around;

  .content {
    padding-top: 25px;

    .text {
      padding-left: 4%;
      padding-right: 4%;
      font-size: x-large;
      font-weight: bold;
      ;
    }
  }

  .person {
    position: relative;

    width: 100%;
    padding: 10%;
    font-size: x-large;

    .face {
      height: 75px;
      width: 75px;
      border-radius: 50%;
      display: inline-block;
      //padding-right: 5%;
      filter: grayscale(100%);

    }

    .pcontent {

      display: inline-block;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);

      .pname {
        font-weight: bold;
      }

      .info {}
    }
  }
}

.about-wraper {
  overflow: hidden;
}

/* About Section */
.aboutSection {
  padding: 2em 0;
  background-color: #e8be39;
  min-height: 50vh;
  margin: 4.5em 0 2em 0;
  position: relative;

  .container {
    .subHeading {
      padding-bottom: 20px;
    }

    .content {
      display: flex;
      align-items: center;

      .text {
        font-size: x-large;
      }
    }
  }
}

.aboutSection .subHeading {
  font-size: 2.4em;
  color: #545353;
}

.aboutSection .container .content {
  display: flex;

  .text {
    flex: 2;
  }

  .vid {
    flex: 1;

    img {
      width: 100%;
    }
  }
}

/* Carousel Section */
.carouselSection {
  padding: 3em 0;
}

@media only screen and (max-width: 600px) {
  .carouselSection {
    padding: 0.5em 0;
  }
}

.carouselSection .subHeading {
  font-size: 2.3em;
  margin: 0.7em 0 0.2em 0;
}

.carouselSection .mainText {
  margin-bottom: 0.2em;
}

/* Theme Selves Section */
.themeSelvesSection {
  padding: 12em 0;
  position: relative;
  margin-top: -8em;
  z-index: 2;
}

.themeSelvesSection .themeImg {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  @media screen and(max-width:960px) {
    object-fit: cover;
  }
}

.themeSelvesSection .subHeading {
  z-index: 2;
  font-size: 2.2em;
  color: white;
}

.themeSelvesSection .totalsCard {
  text-align: center;
}

.themeSelvesSection .totalsCard .totals {
  font-size: 2.5em;
  color: white;
  font-weight: 600;
}

.themeSelvesSection .totalsCard .totalsHeading {
  font-size: 1.2em;
  color: white;
  font-weight: 600;
}

/* Map Section */
.mapSection {
  overflow: hidden;
  margin-top: -10em;
  position: relative;
  z-index: -10;
  img {
    width: 100%;
    @media screen and (max-width:960px) {
      width: auto;
      height: 500px;
      transform: translate(-25%,0);
      max-width: none;
    }
  }
}

/* Page Footer */
.pageFooter {
  padding: 10em 0 2em 0;
  position: relative;
  margin-top: -13em;
  z-index: 1;
  .container-t {
    padding:2%;
    .row {
      width: 100%;
    }
  }

  #secound_form {}

  @media screen and(max-width:960px) {
    .container-t {
      padding-top: 10vh;
    }
    .footerImg{object-fit: cover;}
  }
}

.end-logo {
  background-color: #E9BF39;
  display: flex;
  justify-content: center;

  #logo_img {
    padding-top: 15px;
    width: 60%;
    padding-top: 67px;
  }

  @media screen and(min-width: 600px) {
    display: none;
  }
}

.pageFooter .footerImg {
  position: absolute;
  top: 0;
  width: 100%;
  height: 110%;
  z-index: -1;
}

.pageFooter .whiteInput {
  padding: 1em;
}

.pageFooter .mainBtn {
  background-color: #545353;
  color: #edc840;
  text-align: center;
  width: 100%;
  padding: 0.9em;
  font-weight: 600;
}

.pageFooter .subHeading {
  color: #545353;
  font-size: 2.2em;
}

/* Media Query */
@media (max-width: 768px) {
  .getSection {
    .bullets {
      flex-direction: column;

      .bullet {
        .text {
          top: 0px;
          transform: translateY(0px);
          margin-top: auto;
          margin-bottom: auto;
        }
      }
    }
  }

  .aboutSection {
    .container {
      .content {
        flex-direction: column;

        .vid {
          padding-top: 25px;


        }
      }
    }
  }





  .heroSection {
    min-height: 100vh;
  }

  .detailsSection .detailImg {
    width: 100%;
    margin-top: 2em;
    
  }

  .getSection .subHeading.white {
    margin-top: 1.5em;
  }

  .clientsSection .yellowCard {
    margin-bottom: 2em;
  }

  /*.pageFooter {
    padding: 30em 0 2em 0;
    margin-top: -28em;
  }*/

  .mapSection {
    margin-top: -14em;
  }

  .themeSelvesSection .subHeading {
    margin-top: 2em;
    text-align: center;
  }

  .heroSection .heroHeading {
    font-size: 2.5em;
  }

  .pageFooter .subHeading {
    font-size: 2em;
  }

  .getSection .getSectionHeader {
    margin-top: 7em;
  }
}